# Assignment 3

### Write a function to count the number 4 in a given list.

In [19]:
def count(my_list):
    
    counter = 0 
    
    for i in  my_list : 
        
        if i == 4 : 
            
            counter += 1 
            
    return counter 

l1 = [1,2,3,4,5,4,4]

count(l1)

3

### write a  function to check whether a number is divisible by another number.

In [3]:
number1 = int(input("Enter The number 1 : "))

number2 = int(input("Enter The number 2 : "))

def check(num1 , num2 ):
    
    if num1 % num2 == 0 : 
        
        print("The {} can be divisible by {}".format(num1, num2))
    
    else:
        
        print("The {} can not be divisible by {}".format(num1, num2))
        
check(number1,number2)

The 9 can be divisible by 3

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [21]:
def max_min( listOfNumber ):
    
    max = listOfNumber[0]
    
    min = listOfNumber[-1] 
    
    for i in listOfNumber : 
        
        # to find max
        if i > max : 
            
            max = i 
            
        # to find min
        if i < min : 
            
            min = i 
            
    print("Max is " , max)
    
    print("Min is " , min)

l1 = [1,2,3,4,5,4,4, 10 ,15 , 10 , 31]    
    
max_min(l1)

Max is  31
Min is  1

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [18]:
l1 = [1,2,3,4,5,6]

l2 = [6,7,8,9,10]

def common(list1 , list2 ) : 
    
    for x in list1 : 
        
        if x in list2 : 
            
            print("True")

            
common(l1,l2)

True

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [2]:

num = int(input("Enter number : ") )


def fact(num) :
    
    if num < 0 : 
       
        print("The number is not correct ")
    
    else : 
        
        if num == 1 : 
            
            return 1 
        
        else :
            
            return num * fact(num-1)
    

fact(num)

Enter number : 5

120

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [7]:

value = int(input("Enter number : ") )

def ran ( valu ):
    
    for i in range(3,12) : 
        
        if i == valu : 
            
            print(i, "in range (3 , 11) ")
        
ran(value)

Enter number : 4
4 in range (3 , 11)

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [14]:
# function for multiplication

def multip(num) :
    
    print(" ")
    
    print("Table ", num)
    
    for i in range(0,13) :
        
        print("{} * {} = ".format(num, i) ,num * i) 
        
# for loop to 1 to 10 table 

for x in range(1,11) :
    
    multip(x)

Table  1
1 * 0 =  0
1 * 1 =  1
1 * 2 =  2
1 * 3 =  3
1 * 4 =  4
1 * 5 =  5
1 * 6 =  6
1 * 7 =  7
1 * 8 =  8
1 * 9 =  9
1 * 10 =  10
1 * 11 =  11
1 * 12 =  12

Table  2
2 * 0 =  0
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18
2 * 10 =  20
2 * 11 =  22
2 * 12 =  24

Table  3
3 * 0 =  0
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
3 * 10 =  30
3 * 11 =  33
3 * 12 =  36

Table  4
4 * 0 =  0
4 * 1 =  4
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
4 * 9 =  36
4 * 10 =  40
4 * 11 =  44
4 * 12 =  48

Table  5
5 * 0 =  0
5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
5 * 10 =  50
5 * 11 =  55
5 * 12 =  60

Table  6
6 * 0 =  0
6 * 1 =  6
6 * 2 =  12
6 * 3 =  18
6 * 4 =  24
6 * 5 =  30
6 * 6 =  36
6 * 7 =  42
6 * 8 =  48
6 * 9 =  54
6 * 10 =  60
6 * 11 =  66
6 * 12 =  72

Table  7
7 * 0 =  0
7 * 1 =  7
7 * 2 =  14
7 * 3 =  21
7 * 4 =  28
7 * 5 =  35
7 * 6 =  42
7 * 7 =  49
7 * 8 =  56
7 * 9 =  63
7 * 10 =  70
7 * 11 =  77
7 * 12 =  84

Table  8
8 * 0 =  0
8 * 1 =  8
8 * 2 =  16
8 * 3 =  24
8 * 4 =  32
8 * 5 =  40
8 * 6 =  48
8 * 7 =  56
8 * 8 =  64
8 * 9 =  72
8 * 10 =  80
8 * 11 =  88
8 * 12 =  96

Table  9
9 * 0 =  0
9 * 1 =  9
9 * 2 =  18
9 * 3 =  27
9 * 4 =  36
9 * 5 =  45
9 * 6 =  54
9 * 7 =  63
9 * 8 =  72
9 * 9 =  81
9 * 10 =  90
9 * 11 =  99
9 * 12 =  108

Table  10
10 * 0 =  0
10 * 1 =  10
10 * 2 =  20
10 * 3 =  30
10 * 4 =  40
10 * 5 =  50
10 * 6 =  60
10 * 7 =  70
10 * 8 =  80
10 * 9 =  90
10 * 10 =  100
10 * 11 =  110
10 * 12 =  120

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [3]:
number1 = int(input("Enter The number 1 : "))

number2 = int(input("Enter The number 2 : "))

def less(num1 , num 2 ) : 
    
    if num1 % 2 == 0 and num2 % 2 == 0 :
        
        if num1 > num2 : 
            
            print(num2)
            
        else : 
            
            print(num1)
            
    elif num1 % 2 != 0 or num2 % 2 != 0 :
        
        if num1 > num2 : 
            
            print(num1)
            
        else : 
            
            print(num2)
            
less(number1 , number2 )

SyntaxError: invalid syntax (3651918106.py, line 5)