# SF Salaries Exercise

** Import pandas as pd.**

In [4]:
#import pandas

import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [7]:
# Read file

sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [10]:
#show frist 5 row

sal.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [11]:
# show informathion to file 

sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [16]:
# given to avrage to colum BasePay

sal['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [22]:
# find to max OvertimePay in file 

sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [101]:
#find the row of JOSEPH DRISCOLL
saljos = sal[sal['EmployeeName']== "JOSEPH DRISCOLL"]

# SHow Job Title to JOSEPH DRISCOLL
saljos[['EmployeeName','JobTitle']]

       EmployeeName                   JobTitle
24  JOSEPH DRISCOLL  CAPTAIN, FIRE SUPPRESSION

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [100]:
#find the row of JOSEPH DRISCOLL
saljos = sal[sal['EmployeeName']== "JOSEPH DRISCOLL"]

# SHow TotalPayBenefits to JOSEPH DRISCOLL
saljos[['EmployeeName','TotalPayBenefits']]

       EmployeeName  TotalPayBenefits
24  JOSEPH DRISCOLL         270324.91

** What is the name of highest paid person (including benefits)?**

In [95]:
#find the highest pay 
salhigh = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

#Show Name and data 
salhigh

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [96]:
#find the Lower pay 
sallower = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

#Show Name and pay 
sallower[['EmployeeName','TotalPayBenefits']]

sallower

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [107]:
# find the year in 2011
sal2011 = sal[sal['Year'] == 2011]

# find the year in 2012
sal2012 = sal[sal['Year'] == 2012]

# find the year in 2013
sal2013 = sal[sal['Year'] == 2013]

# find the year in 2014
sal2014 = sal[sal['Year'] == 2014]

# count the Avrage in 2011
print(sal2011[['Year','BasePay']].mean())
print("                  ")

# count the Avrage in 2012
print(sal2012[['Year','BasePay']].mean())
print("                  ")

# count the Avrage in 2013
print(sal2013[['Year','BasePay']].mean())
print("                  ")

# count the Avrage in 2014
print(sal2014[['Year','BasePay']].mean())

Year        2011.000000
BasePay    63595.956517
dtype: float64

Year        2012.000000
BasePay    65436.406857
dtype: float64

Year        2013.000000
BasePay    69630.030216
dtype: float64

Year        2014.000000
BasePay    66564.421924
dtype: float64

** How many unique job titles are there? **

In [24]:
# number of jobs 

sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [48]:
#count of number Jobs 

sal['JobTitle'].value_counts()[:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

202

In [77]:
# find the year in 2013
sal2013 = sal[sal['Year'] == 2013]

# count the Value is Uniq
sal2013['JobTitle'].value_counts().nunique()

152

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [47]:
count = 0 

# for loop to coulum JobTitle
for i in sal['JobTitle'] : 
    
    #Search if Word "Chief" inside JobTitle
    if "Chief" in i : 
        
        # increase count 
        count+= 1

print(count)

423

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!